psycopg2-binary-2.8.6
pycld3
emoji
numpy
regex
demoji
demoji.download_codes()
nltk
nltk.download('words')
nrclex
re
textblob
vaderSentiment
flair
googleapiclient
pandas
langdetect
csv
unidecode
json
configparser
datetime
unicodedata